body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Shadows Into Light', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #cffdf8;
  font-family: 'Montserrat', sans-serif;
  margin:  10px 20px;
  text-decoration: none;
}

a:hover{
  color: #11999E;
}

p {
  line-height: 2;
}

img {
  border-radius: 35px;
}

.intro{
  width: 40%;
  margin: auto;
}

.top-container {
  background-color: #cffdf8;
  position: relative;
  padding-top: 100px;

}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 85px
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.java {
  text-decoration: underline;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.java-logo{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.wordpress-logo{
  width: 25%;
  float: right;
  margin-right: 30px;

}

.photoshop-logo{
  width: 15%;
  float: right;
  margin-right: 30px;
  padding-left: 20px;

}

.wojciechczarnocki{
  width: 10%;
}


hr {
  border: dotted #40514E 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;

}

.portfolio {
  text-align: center;
  margin: 50px auto 50px auto;
}

.portfolio-box {
  padding: 15px;
}



.butn {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #11999E);
  background-image: -moz-linear-gradient(top, #11999E, #11999E);
  background-image: -ms-linear-gradient(top, #11999E, #11999E);
  background-image: -o-linear-gradient(top, #11999E, #11999E);
  background-image: linear-gradient(to bottom, #11999E, #11999E);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #66bfbf);
  background-image: -moz-linear-gradient(top, #11999e, #66bfbf);
  background-image: -ms-linear-gradient(top, #11999e, #66bfbf);
  background-image: -o-linear-gradient(top, #11999e, #66bfbf);
  background-image: linear-gradient(to bottom, #11999e, #66bfbf);
  text-decoration: none;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
